// 引入清楚默認樣式
@import "./reset.scss";

// 滾動條外觀設置
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #409eff;
  border-radius: 10px;
}
.el-popper.is-pure{
  margin-left: 3px;
}