// 給項目提供scss全局變量

// 左側菜單的寬度
$base-menu-width: 260px;
// 左側菜單的背景顏色
$base-menu-background: #001529;
// 左側菜單logo的高度
$base-menu-logo-height: 50px;
// 左側菜單logo右側文字大小
$base-logo-title-fontSize: 20px;

// 頂部導航的高度
$base-tabbar-height: 50px;